
.frame1{
    position: relative;
    left: 10%;
    margin-top: 25px;
}


.headerX{
    margin: 20px;
}

.rect{
    background-image: linear-gradient(#0F497E,#53CAF5);
    width: 20px;
    height: 2px;
    margin-top: 5px;
}

